autopep8==1.5.3
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.1
certifi==2022.12.7
chardet==3.0.4
idna==2.9
kodiswift==0.0.8
pycodestyle==2.6.0
requests==2.23.0
soupsieve==1.9.6
toml==0.10.1
urllib3==1.25.9
